<ion-header style="color: #1c357a">
    <ion-toolbar class="bg-class">
      <ion-row>
      <ion-col size="auto">
      <img src="/assets/icon/mockupMacAbroad3.png" width="65px" style="display:inline-block" height="65px" (click)="logout()">
      </ion-col>
      <ion-col size="auto">
        <ion-button class="faveButton" (click)="goToFavourites()">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
      <ion-title class="titleicon" style = "font-size:25px; text-align: center; display:inline-block">
        <div class="fadeIn">
            Recommendations
        </div>
      </ion-title>
      </ion-col>
      </ion-row>
    <!-- <ion-row>
      <ion-col size="auto">
        <ion-button (click)="goToFavourites()">
          <ion-icon slot="icon-only" name="star" fill="clear"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-title size="40px">
            <div class="pad"><div class="fadeIn">Recommendations</div></div>
        </ion-title>
      </ion-col>
      <ion-col size="500px">
        <ion-button (click)="logout()" end>
            <ion-icon name="log-out"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row> -->
    </ion-toolbar>
  </ion-header>

<!-- <ion-menu-button></ion-menu-button> -->

<!-- <ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-toggle>
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
  </ion-buttons>
</ion-toolbar> -->

  <!-- <ion-menu side="start" menuId="first">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item class = "button" (click)="goToFavourites()">Saved Programs<ion-icon ios="ios-star" md="md-star"></ion-icon></ion-item>
        <ion-item class = "button"(click)="goToProgramSearch()">Program Search <ion-icon ios="ios-search" md="md-search"></ion-icon></ion-item>
        <ion-item class = "button" (click)="goToTimeline()">Timeline <ion-icon ios="ios-clock" md="md-clock"></ion-icon></ion-item>
        <ion-item class = "button"(click)="goToStudentReviews()">Student Reviews <ion-icon ios="ios-create" md="md-create"></ion-icon></ion-item>
        <ion-item class = "button"(click)="goToLogout()">Logout<ion-icon ios="ios-contact" md="md-contact"></ion-icon></ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

<ion-router-outlet main></ion-router-outlet> -->

  <!-- <ion-content>
    <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="voteUp(true)" (throwoutright)="voteUp(false)" id="card-stack">
      <ion-card #mycards1 swing-card>
      <ion-item *ngIf="items2[0].program.img">
          <ion-avatar item-left>
            <img *ngIf="items2[0].program.img"[src]="items2[0].program.img">
          </ion-avatar>
          <h2>{{ items2[0].program.programName }} {{ items2[0].program.programGroup}}</h2>
        </ion-item>
        <ion-item>
            <h2>{{ items2[1].program.programName }} {{ items2[1].program.programGroup}}</h2>
          </ion-item>
        <ion-card-content >
          From: {{ items2[1].program.locationName }}
        </ion-card-content>
        <ion-row >
          <ion-col>
            <button ion-button clear small icon-left color="primary" (click)="voteUp(true)">
              <ion-icon name="thumbs-up"></ion-icon>
              Yes
            </button>
          </ion-col>
          <ion-col>
            <button ion-button clear small icon-left color="primary" (click)="voteUp(false)">
              <ion-icon name="thumbs-down"></ion-icon>
              No
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
      </div>
    </ion-content> -->

  <ion-content>
    <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="voteUp(false, 0)" (throwoutright)="voteUp(true, 0)" id="card-stack">
    <!-- <ion-item-sliding #slidingItem>
      <ion-item-options side="start">
        <ion-item-option (click)="removeItem(0); share(slidingItem)" color="danger" expandable>
          <ion-icon ios="ios-thumbs-down" md="md-thumbs-down" size="large"></ion-icon>
        </ion-item-option>
      </ion-item-options> -->

      <div #mycards1 swing-card *ngFor="let c of cards">

      <ion-card>
      <ion-item>
      <ion-card-header>
        <ion-row>
          <ion-col size=auto>
        <ion-card-subtitle style="font-size:15px">PROGRAM</ion-card-subtitle>
        </ion-col>
        <ion-col>
          <div class="tooltip"><ion-icon name="information-circle-outline"></ion-icon>
            <span class="tooltiptext">{{c.program.programGroup}} {{c.program.group}}</span>
          </div>
          </ion-col>
        </ion-row>
        <!-- <ion-row id="tip"> -->

        <!-- </ion-row> -->
        <ion-row>
          <ion-col size="12" id="pgroup">
            <ion-card-title style="font-size:35px">{{c.program.programGroup}}{{c.program.programName}}</ion-card-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card-title><div style="font-size:20px">{{ c.program.value}} / 3</div> <div style="font-size:16px">match</div></ion-card-title>
          </ion-col>
        </ion-row>
        <ion-row size="100%">
            <img src="/assets/icon/{{c.program.img}}" alt="img" style="width:100%; height:200px">
        </ion-row>
      </ion-card-header>
      </ion-item>


      <ion-card-content>
        <div id="box">
        <ion-row>
          <ion-col size="20">
            <b>Language: </b>
          </ion-col>
          <ion-col size="9">
            {{ c.program.language }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <b>Recommended By: </b>
          </ion-col>
          <ion-col size="9">
            {{ c.program.areaName}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <b>Location: </b>
          </ion-col>
          <ion-col size="9">
            {{ c.program.locationName}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <b>Housing: </b>
          </ion-col>
          <ion-col size="9">
            {{ c.program.housing}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <b>Minimum GPA: </b>
          </ion-col>
          <ion-col size="9">
            {{ c.program.GPA}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <b>Academic Features: </b>
          </ion-col>
          <ion-col size="9">
            {{ c.program.academicFeatures}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <b>Summary: </b>
          </ion-col>
          <ion-col size="12">
            {{ c.program.summary}}
          </ion-col>
        </ion-row>
        </div>
        <ion-footer>
          <!-- <ion-toolbar> -->
        <div class="spacing">
        <ion-row>
          <ion-col>
            <ion-button class="red" shape="round" color="danger" (click)="voteUp(false, 0)"> <ion-icon ios="ios-thumbs-down" md="md-thumbs-down" size="large"></ion-icon> </ion-button>
          </ion-col>
          <ion-col>
            <ion-button class="green" shape="round" color="success" (click)="voteUp(true, 0)"> <ion-icon ios="ios-thumbs-up" md="md-thumbs-up" size="large"></ion-icon> </ion-button>
          </ion-col>
        </ion-row>
        </div>
        <!-- </ion-toolbar> -->
        </ion-footer>
      </ion-card-content>
      </ion-card>
      <!-- </ion-item> -->
      </div>
      <ion-footer>
        <ion-toolbar>
      <div class="spacing">
      <ion-row>
        <ion-col>
          <ion-button class="red" shape="round" color="danger" (click)="voteUp(false, 0)"> <ion-icon ios="ios-thumbs-down" md="md-thumbs-down" size="large"></ion-icon> </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="green" shape="round" color="success" (click)="voteUp(true, 0)"> <ion-icon ios="ios-thumbs-up" md="md-thumbs-up" size="large"></ion-icon> </ion-button>
        </ion-col>
      </ion-row>
      </div>

      <!-- <ion-item-options side="end">
        <ion-item-option (click)="addItem(items2[0], 0); share(slidingItem)" color="success" expandable>
           <ion-icon ios="ios-thumbs-up" md="md-thumbs-up" size="large"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding> -->
    </ion-content>
