
.spacing{
  text-align: center;
}

.bg-class{
  --background: linear-gradient(197deg, rgb(40, 138, 230) 0%, rgb(33, 105, 172) 13.5%, rgb(53, 113, 170) 33.33%, rgb(3, 34, 59) 100%) !important;
}

.titleicon{
  padding-top: 15px;
}


.button:hover{
  --background: rgba(181, 188, 249, 0.50);
}

.red{
width: 80px;
height:80px;
border-radius: 50%;
border:2px solid #cfdcec;
overflow:hidden;
box-shadow: 0 0 3px gray;
--background-hover: rgba(181, 188, 249, 0.20);
}

.green{
width: 80px;
height:80px;
border-radius: 50%;
border:2px solid #cfdcec;
overflow:hidden;
box-shadow: 0 0 3px gray;
--background-hover: rgba(181, 188, 249, 0.20);

}

.save{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transform: scale(0.68);
  border:2px solid #cfdcec;
  overflow:hidden;
  box-shadow: 0 0 3px gray;
  --background-hover: rgba(181, 188, 249, 0.20);

}

ion-card{
  box-shadow: 0px 14px 25px rgba(9, 43, 97, 0.50);
  border-radius: 15px;

}


.tooltip {
  position: relative;
  display: inline-block;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  height: 10px;
  background-color: #3171e0;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  opacity: 0;
  transition: opacity 0.3s;
}

.icon{
  color: blue !important;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#tip{
  padding-top: 3px;
  height: 12px;
}

#pgroup{
  padding-left:15px;
}

.logo{
  padding-top: 10px;
}

.logo2{
  padding-top: 10px;
}
