<!-- <ion-header>
  <ion-toolbar color="primary">
  <ion-row>
    <ion-col size="auto">
      <ion-button (click)="goToFavourites()">
        <ion-icon slot="icon-only" name="star" fill="clear"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col>
      <ion-title style = "font-family:Bebas Neue; font-size:25px; text-align: center">
          <div class="pad"><div class="fadeIn">Recommendations</div></div>
      </ion-title>
    </ion-col>
  </ion-row>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-button menuToggle>Toggle Menu</ion-button>
<ion-menu side="start" menuId="first" class="my-custom-menu">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Custom Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->


<!-- <ion-content>
  <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="voteUp(true)" (throwoutright)="voteUp(false)" id="card-stack">
    <ion-card #mycards1 swing-card>
    <ion-item *ngIf="items2[0].program.img">
        <ion-avatar item-left>
          <img *ngIf="items2[0].program.img"[src]="items2[0].program.img">
        </ion-avatar>
        <h2>{{ items2[0].program.programName }} {{ items2[0].program.programGroup}}</h2>
      </ion-item>
      <ion-item>
          <h2>{{ items2[1].program.programName }} {{ items2[1].program.programGroup}}</h2>
        </ion-item>
      <ion-card-content >
        From: {{ items2[1].program.locationName }}
      </ion-card-content>
      <ion-row >
        <ion-col>
          <button ion-button clear small icon-left color="primary" (click)="voteUp(true)">
            <ion-icon name="thumbs-up"></ion-icon>
            Yes
          </button>
        </ion-col>
        <ion-col>
          <button ion-button clear small icon-left color="primary" (click)="voteUp(false)">
            <ion-icon name="thumbs-down"></ion-icon>
            No
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
    </div>
  </ion-content> -->


  <ion-content>
    <div swing-stack #myswing1 [stackConfig]="stackConfig" (throwoutleft)="removeItem(0)" (throwoutright)="addItem(items2[0], 0)" id="card-stack">
    <!-- <ion-item-sliding #slidingItem>
      <ion-item-options side="start">
        <ion-item-option (click)="removeItem(0); share(slidingItem)" color="danger" expandable>
          <ion-icon ios="ios-thumbs-down" md="md-thumbs-down" size="large"></ion-icon>
        </ion-item-option>
      </ion-item-options> -->
  
      <div #mycards1 swing-card>
      <ion-item>
  
      <ion-card>
      <ion-card-header>
        <ion-card-subtitle style="font-size:15px">PROGRAM</ion-card-subtitle>
  
        <ion-row>
          <ion-col size="12">
            <ion-card-title style="font-size:25px">{{items2[0].program.programGroup}}{{items2[0].program.programName}}</ion-card-title>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card-title><div style="font-size:20px">{{ items2[0].program.value}} / 3</div> <div style="font-size:16px">match</div></ion-card-title>
          </ion-col>
  
        </ion-row>
      </ion-card-header>
  
      <img src="/assets/icon/{{items2[0].program.img}}" alt="img" style="width:100%; height:200px">
  
      <ion-card-content>
        <ion-row>
          <ion-col size="20">
            <b>Language: </b>
          </ion-col>
          <ion-col size="9">
            {{ items2[0].program.language }}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <b>Recommended By: </b>
          </ion-col>
          <ion-col size="9">
            {{ items2[0].program.areaName}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <b>Location: </b>
          </ion-col>
          <ion-col size="9">
            {{ items2[0].program.locationName}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <b>Housing: </b>
          </ion-col>
          <ion-col size="9">
            {{ items2[0].program.housing}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <b>Minimum GPA: </b>
          </ion-col>
          <ion-col size="9">
            {{ items2[0].program.GPA}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="8">
            <b>Academic Features: </b>
          </ion-col>
          <ion-col size="9">
            {{ items2[0].program.academicFeatures}}
          </ion-col>
        </ion-row>
        <div class="spacing">
        <ion-row>
          <ion-col size="6">
            <ion-button shape="round" color="danger" (click)="removeItem(0)"> <ion-icon ios="ios-thumbs-down" md="md-thumbs-down" size="large"></ion-icon> </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button shape="round" color="success" (click)="addItem(items2[0], 0)"> <ion-icon ios="ios-thumbs-up" md="md-thumbs-up" size="large"></ion-icon> </ion-button>
          </ion-col>
        </ion-row>
        </div>
      </ion-card-content>
      </ion-card>
      </ion-item>
      </div>
      </div>
  
      <!-- <ion-item-options side="end">
        <ion-item-option (click)="addItem(items2[0], 0); share(slidingItem)" color="success" expandable>
           <ion-icon ios="ios-thumbs-up" md="md-thumbs-up" size="large"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding> -->
    </ion-content>