<ion-header style="color: #1c357a">
	<ion-toolbar class="bg-class">
		<ion-row>
			<ion-col size="auto">
				<img src="/assets/icon/mockupMacAbroad3.png" width="65px" style="display:inline-block" height="65px" (click)="goToHome()">
			</ion-col>
			<ion-col>
    		<ion-title class="titleicon" style = "font-size:25px; text-align: center; display:inline-block">
				<div class="fadeIn; pad">
					Log In
				</div>
			</ion-title>
			</ion-col>
		</ion-row>
	</ion-toolbar>
  </ion-header>

  <ion-content paading class="form-content" class="bg-class">
	<form class="form" [formGroup]="validations_form" (ngSubmit)="tryLogin(validations_form.value)">
	  <ion-item>
		<ion-label position="floating" color="primary" style="font-size:20px"><div class="fadeIn">Email</div></ion-label>
		<div class="pad">
		<ion-input color = "#1c357a" style="color: #1c357a" type="text" formControlName="email"></ion-input>
		</div>
	  </ion-item>
	  <div class="validation-errors">
		<ng-container *ngFor="let validation of validation_messages.email">
		  <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
			{{ validation.message }}
		  </div>
		</ng-container>
	  </div>
	  <ion-item>
		<ion-label position="floating" color="primary" style="font-size:20px"><div class="fadeIn">Password</div></ion-label>
		<div class="pad">
		<ion-input color = "#1c357a" style="color: #1c357a" type="password" formControlName="password"></ion-input>
		</div>
	  </ion-item>
	  <div class="validation-errors">
		<ng-container *ngFor="let validation of validation_messages.password">
		  <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
			{{ validation.message }}
		  </div>
		</ng-container>
	  </div>
	  <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid" (click)="countup(); go()">Log In</ion-button>
	  <label class="error-message">{{errorMessage}}</label>
	</form>

	<p class="go-to-register">
		No account yet?<a (click)="goRegisterPage()" style="color: rgb(0, 140, 255);"> Create an account.</a>
	</p>
  </ion-content>
