
<ion-header>
  <ion-toolbar class="bg-class">
    <ion-row>
    <ion-col size="auto">
    <img src="/assets/icon/mockupMacAbroad3.png" width="65px" style="display:inline-block" height="65px" (click)="goToHome()">
    </ion-col>
    <ion-col>
    <ion-title class="titleicon" style = "font-size:25px; text-align: center; display:inline-block">
      <div class="fadeIn">
        Checklist
      </div>
    </ion-title>
    </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding class="bg-class" fullscreen>
  Please complete the following steps in order of priority listed by the deadlines below. If you have general questions, contact the Mac Study Abroad Office at +1(651)696-6300 or email.
<br>
  <ion-list *ngFor="let item of items">
    <ion-card style="background-color: #e9f1f8;">
      <ion-card-header class="bg-class2">
        <ion-card-title style="text-align: center; font-weight: bold;orientation: center; color: white;">
            <div class="fadeIn">{{item.description}}
              <div float-right class="my-checkbox">
                <ion-checkbox [disabled]="completed ? 'true' : 'false' " *ngIf="!completed" (ionChange)="onBoxBooleanChange()">
              </ion-checkbox>
            </div>
            </div>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content style="background-color: #e9f1f8;">
        <br>
        <div class="fadeIn">{{item.title}}'s  Deadline is <b>{{item.date.subtitle}} {{item.date.title}}</b></div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
