
<ion-header>
    <ion-toolbar class="bg-class">
      <img src="/assets/icon/mockupMacAbroad3.png" width="65px" style="display:inline-block" height="65px" (click)="goToHome()">
      <ion-title class="titleicon" style = "font-size:25px; text-align: center; display:inline-block">
        <div class="fadeIn">
          Timeline
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding class="bg-class">
    <ion-list *ngFor="let item of items">
      <ion-card style="background-color: #e9f1f8;">
        <ion-card-header class="bg-class2">
          <ion-card-title style="text-align: center; font-weight: bold;orientation: center; color: white;">
              <div class="fadeIn"><u>{{item.title}}</u> <ion-checkbox style="background-color: #1c357a;" ionChange="Completed">Completed</ion-checkbox></div>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content style="background-color: #e9f1f8;">
          <br>
          <div class="fadeIn">{{item.description}}<br>
          <b>Deadline: </b>{{item.date.subtitle}} {{item.date.title}}</div>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ion-content>

<!-- <ion-content padding>
  <app-timeline endIcon="call">
    <app-timeline-item *ngFor="let item of items">
    <app-timeline-date [date]="item.date"></app-timeline-date>
    <ion-icon [name]="item.icon"></ion-icon>
      <ion-card>
        <ion-card-header>
          {{item.title}}
        </ion-card-header>
        <ion-card-content>
          {{item.description}}
        </ion-card-content>
      </ion-card>
    </app-timeline-item>
  </app-timeline>
</ion-content> -->
