<ion-header style="color: #1c357a">
    <ion-toolbar class="bg-class">
      <ion-row>
      <ion-col size="auto">
      <img src="/assets/icon/mockupMacAbroad3.png" width="65px" style="display:inline-block" height="65px" (click)="logout()">
      </ion-col>
      <ion-col>
          <ion-title class="titleicon" style = "font-size:25px; text-align: center; display:inline-block">
        <div class="fadeIn">
            Student Reviews
        </div>
      </ion-title>
      </ion-col>
      </ion-row>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar style="color:#1c357a"
  type="text"
  (ionChange)="filterList($event.target.value)"
  placeholder="Filter Search By Program"></ion-searchbar>

<ion-content padding class="form-content" class="bg-class">
  <ion-card class="bg-class2">
      <ion-card-header tappable (click)="collapseCard = !collapseCard">
          <ion-card-title style="text-align: center;color: white;" >Post A Review</ion-card-title>
        </ion-card-header>


  <ion-card-content style="background-color: #e9f1f8" *ngIf="!collapseCard">
        <ion-card-title style="text-align: center; text-decoration: underline; font-weight: bold;"></ion-card-title>

        <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">

        <ion-input placeholder="Name" formControlName = Name> </ion-input>

        <ion-input placeholder="Email" formControlName = email></ion-input>

        <ionic4-star-rating
        activeIcon = "ios-star"
        defaultIcon = "ios-star-outline"
        activeColor = "#1c357a"
        defaultColor = "#1c357a"
        readonly="false"
        rating="3"
        fontSize = "32px"
        (ratingChanged)="logRatingChange($event)">
        </ionic4-star-rating>

        <ion-item>
          <ion-label style="color: white; text-align: center;">Please Select Your Program</ion-label>
          <ion-select [(ngModel)]="searchTerm4" (click)="setPrograms()" type = 'text' formControlName = Program>
              <ion-select-option *ngFor="let item of items2">
                  {{ item.program.programName }}
              </ion-select-option>
          </ion-select>
        </ion-item>


      <ion-input class="review" placeholder="Would you recommend this program?" formControlName = Review></ion-input>
      <ion-input class="review" placeholder="What do you wish you had known before?" formControlName = WishToKnow></ion-input>
      <ion-input class="review" placeholder="Advice for future study abroad students/students in this program?" formControlName = Advice></ion-input>

      <ion-datetime formControlName="Date" displayFormat="MM-DD-YYYY" pickerFormat="MM-DD-YYYY" placeholder="Please Select Today's Date" ></ion-datetime>
      <ion-button text-center class="submit-btn" color="{{post.color}}" expand="block" type="submit" [disabled]="!validations_form.valid">{{post.message}}</ion-button>

      </form>
      </ion-card-content>
      </ion-card>

  <ion-item-sliding *ngFor="let review of reviews">



    <ion-item-options side="end">
    </ion-item-options>
    <ion-card-header class="bg-class2">
        <div class="fadeIn"><ion-card-title style="text-align: center;color: #e9f1f8;">{{review.Program}}
            <ionic4-star-rating
            activeIcon = "ios-star"
            defaultIcon = "ios-star-outline"
            activeColor = "#f4f4f4"
            defaultColor = "#f4f4f4"
            readonly="true"
            rating= "{{review.Rating}}"
            fontSize = "32px">
            </ionic4-star-rating>
        </ion-card-title></div>
      </ion-card-header>

      <div class="fadeIn">
        <ion-card-content style="background-color: #e9f1f8;color:#1c357a ;">
            <i>Submitted through MacAbroad</i><br>


      <b>Name:</b> {{ review.Name }} <br>
      <b>Email:</b> {{ review.email }} <br>
      <b>Program:</b> {{ review.Program }} <br>
      <b>Would you recommend this program?:</b> {{ review.Review }} <br>
      <b>What do you wish you known before studying abroad?:</b> {{ review.WishToKnow }} <br>
      <b>Do you have any advice for future students in the program or studying abroad?:</b> {{ review.Advice }} <br>

      <b>Submitted at:</b> {{ review.Date }}
    </ion-card-content>
    </div>

    <!-- </ion-item> -->
   </ion-item-sliding>

<ion-item-sliding *ngFor="let item of reviewItems">

  <!-- <ionic4-star-rating
  activeIcon = "ios-star"
  defaultIcon = "ios-star-outline"
  activeColor = "#f4f4f4"
  defaultColor = "#f4f4f4"
  readonly="true"
  rating= 3
  fontSize = "32px">
  </ionic4-star-rating> -->

  <ion-item-options side="end">
    </ion-item-options>
    <ion-card-header class="bg-class2">
        <div class="fadeIn"><ion-card-title style="text-align: center;color: #e9f1f8;">{{item.programName}}
        </ion-card-title></div>
      </ion-card-header>

      <div class="fadeIn">
        <ion-card-content style="background-color: #e9f1f8;color:#1c357a ;">
            <i>Submitted through Mac Study Abroad Website</i><br>

      <b>Program:</b> {{ item.programName }} <br>
      <b>Would you recommend this program?:</b> {{ item.wouldYouRecommendThisProgramToOtherMacalesterStudentsPleaseExplain}} <br>
      <b>What do you wish you known before studying abroad?:</b>   {{ item.whatDoYouWishYouHadKnownBeforeYouChoseThisProgramAndorLocation}} <br>
      <b>Do you have any advice for future students in the program or studying abroad?:</b> {{ item.recallingTheTimePeriodPriorToYourDepartureHowWouldYouSuggestThatFutureStudentsFocusTheirPreparationsWhatWasMostHelpfulForYouWhatWouldYouDoDifferentlyPleaseExplain}} <br>

    </ion-card-content>
    </div>

<ion-item-options side="end">
</ion-item-options>

<!-- <ion-item class="bg-class2">
  <ion-card style="color: #e9f1f8">
    <ion-col><b><u>Submitted through Website </u></b><br></ion-col>

    <b><u></u></b>Program: {{ item.programName }} <br>
    <b><u></u></b>Would you recommend this program? <br>
  {{ item.wouldYouRecommendThisProgramToOtherMacalesterStudentsPleaseExplain}} <br>
  <b><u></u></b>What do you wish you known before studying abroad? <br>
  {{ item.whatDoYouWishYouHadKnownBeforeYouChoseThisProgramAndorLocation}}  <br>
  <b><u></u></b>Do you have any advice for future students in the program or studying abroad? <br>
  {{ item.recallingTheTimePeriodPriorToYourDepartureHowWouldYouSuggestThatFutureStudentsFocusTheirPreparationsWhatWasMostHelpfulForYouWhatWouldYouDoDifferentlyPleaseExplain}} <br>

</ion-card>
</ion-item> -->

</ion-item-sliding>

</ion-content>
  <!-- <ion-list>
    <div *ngIf="boolean == true">
      <div class="center">
      <h1> Reviews </h1>
      </div>
      <ion-card *ngFor="let review of reviews">
        <ion-card-header>
          <ion-card-subtitle style="font-size:15px">REVIEW</ion-card-subtitle>
          <ion-row>
            <ion-col size="10">
              <ion-card-title style="font-size:25px">{{review.Review}}{{item.Time}}</ion-card-title>
            </ion-col>
          </ion-row> -->
