.submit-btn{
    background: gray;
}
.submit-btn.buttonActive {
    background: red !important;
}

.review{
    height: 50px
}

.bg-class2{
    box-shadow: black; 
}

ion-card-header {
    background-color: rgb(16, 55, 105);
}