.submit-btn{
    background: gray;
}
.submit-btn.buttonActive {
    background: red !important;
}

.review{
    height: 50px
}

ion-card-header {
    background-color: rgb(16, 55, 105);
}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  @keyframes fadeIn {
  from {
    opacity: 0;
  }
  
  to {
    opacity: 1;
  }
  }

  .titleicon{
    padding-top: 15px;
  }
  
  ion-searchbar{
    --background: #e9f1f8;
    --ion-color-base: #e9f1f8 !important;
    
  }
  ion-list{
    --background: transparent;
    --ion-color-base: transparent !important;
  }
  
  
  .fadeIn {
  animation-name: fadeIn;
  animation-duration: 4s;
  }
  
  .bg-class{
    --background: linear-gradient(197deg, rgb(40, 138, 230) 0%, rgb(33, 105, 172) 13.5%, rgb(53, 113, 170) 33.33%, rgb(3, 34, 59) 100%) !important;
  }
  
  .bg-class2{
    --background: linear-gradient(197deg, rgb(8, 133, 250) 0%, rgb(3, 117, 211) 13.5%, rgb(36, 115, 189) 33.33%, rgb(33, 97, 156) 100%) !important;
    box-shadow: black;
  }

  ion-item{
    --background: #1c357a;
    
  }

//   ion-input{
//       background: white;
//   }
  
  
  .list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
  }
  .list .item.item-accordion.ng-hide {
  line-height: 0px;
  }
  .list .item.item-accordion.ng-hide-add,
  .list .item.item-accordion.ng-hide-remove {
  display: block !important;
  }
  