
<ion-content padding>
  <body>
    <!-- <script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core@4.7.4/dist/ionic/ionic.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core@4.7.4/dist/ionic/ionic.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@ionic/core@4.7.4/css/ionic.bundle.css"/>
  <body>
    <ion-app>
      <ion-nav root="nav-home"></ion-nav>
    </ion-app>
    <script>
        customElements.define('nav-home', class NavHome extends HTMLElement {
          connectedCallback() {
            this.innerHTML = `
              <ion-header translucent>
                <ion-toolbar>
                  <ion-title>Nav</ion-title>
                </ion-toolbar>
              </ion-header>
              <ion-content fullscreen>
                <ion-list>
                ${techs.map(tech => `
                    <ion-item button onclick="showDetail('${tech.title}')">
                      <ion-icon slot="start" name="logo-${tech.icon}" style="color: ${tech.color};"></ion-icon>
                      <ion-label>
                        <h3>${tech.title}</h3>
                      </ion-label>
                    </ion-item>
                `).join('\n')}
                </ion-list>
              </ion-content>
            `;
          }
        });
        const nav = document.querySelector('ion-nav');
        function showDetail(title) {
          const tech = techs.find(tech => tech.title === title);
          nav.push('nav-detail', { tech });
        }
        customElements.define('nav-detail', class NavDetail extends HTMLElement {
          connectedCallback() {
            this.innerHTML = `
              <ion-header translucent>
                <ion-toolbar>
                  <ion-buttons slot="start">
                    <ion-back-button defaultHref="/"></ion-back-button>
                  </ion-buttons>
                  <ion-title>${this.tech.title}</ion-title>
                </ion-toolbar>
              </ion-header>
              <ion-content fullscreen class="ion-padding">
                <ion-icon name="logo-${this.tech.icon}" style="color: ${this.tech.color};" size="large"></ion-icon>
                <p>${this.tech.description}</p>
              </ion-content>
            `;
          }
        }); -->
        <ion-header>
             <ion-toolbar>
               <ion-title style = "font-family:Bebas Neue; font-size:25px; text-align: center">
                   <div class="fadeIn">Programs</div>
               </ion-title>
             </ion-toolbar>
             <div class="fadeIn"> <ion-searchbar></ion-searchbar></div>
         </ion-header>      
             <ion-content fullscreen>
               <ion-list>
                       <ion-item *ngFor="let item of items">
                         <div class="fadeIn">
                         {{ item.program.programName }} <br>
                         </div>
                         <ion-select>
                           <ion-label>{{ item.program.programName }}</ion-label>
                         </ion-select>
                       </ion-item>

               <ion-item>
                   <ion-button ion-button icon-only (click) = "returnCountry()" >
                     <ion-icon name = "search"></ion-icon>
                   </ion-button>
               </ion-item> 
               </ion-list>

             </ion-content>
      <!-- </script> -->
  </body>
</ion-content>    


