<ion-content padding>
  <body>
    <ion-app>
        <ion-header>
            <ion-toolbar>
              <ion-title style = "font-family:Bebas Neue; font-size:25px; text-align: center">
                  <div class="fadeIn">Programs</div>
              </ion-title>
            </ion-toolbar>
        </ion-header>
      
            <ion-content fullscreen>
              <ion-list>
                <ion-item>
                  <ion-label style="font-family:Bebas Neue"><div class="fadeIn">Group A - Exchange: Ashesi University College</div></ion-label>
                  <ion-select>
                  
                  </ion-select>
                </ion-item>

                <ion-item>
                  <ion-label style="font-family:Bebas Neue"><div class="fadeIn">Group A - Exchange: ISEP- International Student Exchange Programs</div></ion-label>
                  <ion-select>
                    
                  </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label style="font-family:Bebas Neue"><div class="fadeIn">Group A - Exchange: NTU- Nanyang Technological University</div></ion-label>
                    <ion-select>
                    
                    </ion-select>
                  </ion-item>

                <ion-item>
                    <ion-label style="font-family:Bebas Neue"><div class="fadeIn">Group A - Exchange: Sciences Po</div></ion-label>
                    <ion-select>
                    
                    </ion-select>
                  </ion-item>

                <ion-item>
                    <ion-label style="font-family:Bebas Neue"><div class="fadeIn">Group A - Macalester: German Studies Program</div></ion-label>
                    <ion-select>
                    
                    </ion-select>
                  </ion-item>

            

                
      
      
              <ion-item>
                  <ion-button ion-button icon-only (click) = "returnCountry()" >
                    <ion-icon name = "search"></ion-icon>
                  </ion-button>
              </ion-item> 
              </ion-list>
            </ion-content>
    </ion-app>
  </body>

</ion-content>    


