<ion-content padding>
  <ion-toolbar>
      <ion-title style = "text-align:center; font-family:Bebas Neue; font-size:45px">
        <div class="fadeIn">Welcome to</div>
      </ion-title>
  </ion-toolbar>

      <div class="fadeIn">
        <img src="/assets/icon/mockupMacAbroad3.png" alt="World" width="450" height="430">

        <!-- <div class="center">
            <button ion-button style="color: white;background-color: #4da9ff;outline-color: white; font-size:24px;" (click)="goToUserInput()">
                Get started
            </button>
        </div> -->
        <div class="center">
          <button ion-button style="color: white;background-color: #4da9ff;outline-color: white; font-size:24px;" (click)="goToLogin()">
              Login
          </button>
          </div>
      </div>


</ion-content>
