<ion-content padding class="logo-background">
  <ion-toolbar>
      <ion-title style = "text-align:center; font-family:Helvetica; font-size:45px">
        <div class="fadeIn">Welcome to</div>
      </ion-title>
  </ion-toolbar>

      <div class="fadeIn">
        <img src="/assets/icon/mockupMacAbroad3.png" alt="World" width="420" height="420">

        <!-- <div class="center">
            <button ion-button style="color: white;background-color: #4da9ff;outline-color: white; font-size:24px;" (click)="goToUserInput()">
                Get started
            </button>
        </div> -->
        <div class="center">

          <!-- <ion-button (click)="goToLogin()"> -->

          <ion-button (click)="goToLogin()">

              <p style="font-size:24px">Login</p>
          </ion-button>
          </div>
      </div>


</ion-content>
