img{
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
div{
  margin-left: auto;
  margin-right: auto;
}

.center{
  text-align: center;
}

ion-toolbar{
  top:95px;
  --background: transparent;
  --ion-color-base: transparent !important;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 4s;
}
.logo-background{
  background: url(/assets/icon/mockupMacAbroad3.png) no-repeat center center fixed;
  background-size: cover;
}

.bg-class{
  --background: linear-gradient(197deg, rgb(40, 138, 230) 0%, rgb(33, 105, 172) 13.5%, rgb(53, 113, 170) 33.33%, rgb(3, 34, 59) 100%) !important;
}
