<ion-content padding class="bg-class">
    <ion-toolbar style="background-color: transparent">
        <ion-title style = "text-align:center; font-family:Helvetica; font-size:45px">
          <div class="fadeIn">Welcome to</div>
        </ion-title>
    </ion-toolbar>
  
        <div class="fadeIn">
          <img src="/assets/icon/mockupMacAbroad3.png" alt="World" width="420" height="420">
        </div>
          <!-- <div class="center">
              <button ion-button style="color: white;background-color: #4da9ff;outline-color: white; font-size:24px;" (click)="goToUserInput()">
                  Get started
              </button>
          </div> -->
          <div class ="fadeIn">
            <div class="center">
  
            <!-- <ion-button (click)="goToLogin()"> -->
  
            <ion-button ion-button style="color: white;background-color: #1c357a;outline-color: #1c357a; font-size:24px;" (click)="goToLogin()">
                Login
            </ion-button>
            </div>
        </div>
  
  </ion-content>