<ion-header>
  <ion-toolbar>
    <ion-title style = "font-family:Helvetica; font-size:25px; text-align: center">
      Student Reviews and Feedback
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <div class="fadeIn"><ion-searchbar color="primary" [(ngModel)]="searchTerm4" (ionChange)="setSearchedItems()"></ion-searchbar></div>
  <ion-list>
    <ion-card style="background-color: #4178ee;" *ngFor="let item of items2">
      <ion-card-header tappable (click)="collapseCard = !collapseCard">
        <div class="fadeIn"><ion-card-title style="text-align: center;color: white;">{{item.program.programName}}</ion-card-title></div>
      </ion-card-header>
  <ion-list>
</ion-content>