<ion-header>
  <ion-toolbar>
    <ion-title style = "font-family:Bebas Neue; font-size:25px; text-align: center">
      Student Reviews and Feedback
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Enter Name <ion-text color="danger">*</ion-text></ion-label>
    <ion-input required type="text" ></ion-input>
  </ion-item>
  <ion-list>
      <ion-label style="font-family:Bebas Neue"><div class="fadeIn">Major</div></ion-label>
      <ion-select [(ngModel)]="searchTerm" (ionChange)="setFilteredItems()">
        <ion-select-option value="american studies">American Studies</ion-select-option>
        <ion-select-option value="anthro">Anthropology</ion-select-option>
        <ion-select-option value="art history">Art History</ion-select-option>
        <ion-select-option value="art">Art</ion-select-option>
        <ion-select-option value="asian studies">Asian Studies</ion-select-option>
        <ion-select-option value="bio">Biology</ion-select-option>
        <ion-select-option value="chem">Chemistry</ion-select-option>
        <ion-select-option value="chinese">Chinese</ion-select-option>
        <ion-select-option value="classics">Classics</ion-select-option>
        <ion-select-option value="comp sci">Computer Science</ion-select-option>
        <ion-select-option value="econ">Economics</ion-select-option>
        <ion-select-option value="education studies">Educational Studies</ion-select-option>
        <ion-select-option value="english">English</ion-select-option>
        <ion-select-option value="enviro studies">Environmental Studies</ion-select-option>
        <ion-select-option value="french">French</ion-select-option>
        <ion-select-option value="geo">Geography</ion-select-option>
        <ion-select-option value="geol">Geology</ion-select-option>
        <ion-select-option value="german">German</ion-select-option>
        <ion-select-option value="hist">History</ion-select-option>
        <ion-select-option value="international studies">International Studies</ion-select-option>
        <ion-select-option value="japanese">Japanese</ion-select-option>
        <ion-select-option value="latin america studies">Latin American Studies</ion-select-option>
        <ion-select-option value="linguistics">Linguistics</ion-select-option>
        <ion-select-option value="math">Mathematics</ion-select-option>
        <ion-select-option value="media studies">Media and Cultural Studies</ion-select-option>
        <ion-select-option value="music">Music</ion-select-option>
        <ion-select-option value="neuro">Neuroscience</ion-select-option>
        <ion-select-option value="philosophy">Philosophy</ion-select-option>
        <ion-select-option value="physics">Physics</ion-select-option>
        <ion-select-option value="poli sci">Political Science</ion-select-option>
        <ion-select-option value="psych">Psychology</ion-select-option>
        <ion-select-option value="religious studies">Religious Studies</ion-select-option>
        <ion-select-option value="russian">Russian</ion-select-option>
        <ion-select-option value="sociology">Sociology</ion-select-option>
        <ion-select-option value="spanish">Spanish</ion-select-option>
        <ion-select-option value="theatre and dance">Theatre and Dance</ion-select-option>
        <ion-select-option value="wgss">Women's, Gender and Sexuality Studies</ion-select-option>
      </ion-select>
    </ion-list>
  <ion-item>
    <ion-label position="stacked">Summary</ion-label>
  <ion-textarea></ion-textarea>
  </ion-item>
    <ion-button size="large">Post</ion-button>
</ion-content>



