img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center{
  text-align: center;
}

@keyframes fadeIn {
from {
  opacity: 0;
}

to {
  opacity: 1;
}
}

ion-searchbar{
  --background: #e9f1f8;
  --ion-color-base: #e9f1f8 !important;
}
ion-list{
  --background: transparent;
  --ion-color-base: transparent !important;
}


.fadeIn {
animation-name: fadeIn;
animation-duration: 4s;
}

.bg-class{
  --background: linear-gradient(197deg, rgb(40, 138, 230) 0%, rgb(33, 105, 172) 13.5%, rgb(53, 113, 170) 33.33%, rgb(3, 34, 59) 100%) !important;
}

.bg-class2{
  --background: linear-gradient(197deg, rgb(8, 133, 250) 0%, rgb(3, 117, 211) 13.5%, rgb(36, 115, 189) 33.33%, rgb(33, 97, 156) 100%) !important;
}


// div{
//   white-space: pre-line;
// }

.my-custom-menu {
--width: 500px;
}

.pad{
padding-top: 3px;
}

.myalert .alert-wrapper {
  background-color: #1c357a;
}

.titleicon{
  padding-top: 15px;
}
