img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.center{
    text-align: center;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 4s;
}

// div{
//   white-space: pre-line;
// }

.my-custom-menu {
  --width: 500px;
}

.pad{
  padding-top: 3px;
}
