img{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.center{
    text-align: center;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 4s;
}

table{
  table-layout: fixed;
  width: auto;
  border-width: medium;
  border-color: black;
}
