<ion-header style="color: #1c357a">
  <ion-toolbar class="bg-class">
  <ion-row>
  <ion-col size="auto">
    <img src="/assets/icon/mockupMacAbroad3.png" width="58px" style="display:inline-block" height="58px" (click)="goToHome()">
  </ion-col>
  <ion-col size="auto">
      <ion-title class="titleicon" style = "font-size:25px; text-align: center; display:inline-block">
        <div class="fadeIn">
            Pick Your Preferences
        </div>
      </ion-title>
      </ion-col>
    </ion-row>
    </ion-toolbar>
</ion-header>

  <ion-content padding class="bg-class">
    <ion-list>

    <ion-list-header  class="bg-class2" style = "font-family:Bebas Neue; font-size:20px"><div class="fadeIn">Select your major:</div></ion-list-header>
    <ion-item style="color: #1c357a">
      <ion-label style="color: #1c357a;"><div class="fadeIn">Major</div></ion-label>
      <ion-select style="color: #1c357a" [(ngModel)] = "searchTerm" (ionChange)="setStars(); setFilteredItems(); createSort()" placeholder="Select a Major (Optional)">
        <ion-select-option value="any">Any</ion-select-option>
        <ion-select-option value="american studies">American Studies</ion-select-option>
        <ion-select-option value="anthro">Anthropology</ion-select-option>
        <ion-select-option value="art history">Art History</ion-select-option>
        <ion-select-option value="art">Art</ion-select-option>
        <ion-select-option value="asian studies">Asian Studies</ion-select-option>
        <ion-select-option value="bio">Biology</ion-select-option>
        <ion-select-option value="chem">Chemistry</ion-select-option>
        <ion-select-option value="chinese">Chinese</ion-select-option>
        <ion-select-option value="classics">Classics</ion-select-option>
        <ion-select-option value="comp sci">Computer Science</ion-select-option>
        <ion-select-option value="econ">Economics</ion-select-option>
        <ion-select-option value="education studies">Educational Studies</ion-select-option>
        <ion-select-option value="english">English</ion-select-option>
        <ion-select-option value="enviro studies">Environmental Studies</ion-select-option>
        <ion-select-option value="french">French</ion-select-option>
        <ion-select-option value="geo">Geography</ion-select-option>
        <ion-select-option value="geol">Geology</ion-select-option>
        <ion-select-option value="german">German</ion-select-option>
        <ion-select-option value="hist">History</ion-select-option>
        <ion-select-option value="international studies">International Studies</ion-select-option>
        <ion-select-option value="japanese">Japanese</ion-select-option>
        <ion-select-option value="latin america studies">Latin American Studies</ion-select-option>
        <ion-select-option value="linguistics">Linguistics</ion-select-option>
        <ion-select-option value="math">Mathematics</ion-select-option>
        <ion-select-option value="media studies">Media and Cultural Studies</ion-select-option>
        <ion-select-option value="music">Music</ion-select-option>
        <ion-select-option value="neuro">Neuroscience</ion-select-option>
        <ion-select-option value="philosophy">Philosophy</ion-select-option>
        <ion-select-option value="physics">Physics</ion-select-option>
        <ion-select-option value="poli sci">Political Science</ion-select-option>
        <ion-select-option value="psych">Psychology</ion-select-option>
        <ion-select-option value="religious studies">Religious Studies</ion-select-option>
        <ion-select-option value="russian">Russian</ion-select-option>
        <ion-select-option value="sociology">Sociology</ion-select-option>
        <ion-select-option value="spanish">Spanish</ion-select-option>
        <ion-select-option value="theatre and dance">Theatre and Dance</ion-select-option>
        <ion-select-option value="wgss">Women's, Gender and Sexuality Studies</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-list>

    <ion-list>
    <ion-list-header class="bg-class2" style = "font-family:Bebas Neue; font-size:20px"><div class="fadeIn">Select your preferred language of instruction:</div></ion-list-header>
    <ion-item style="color: #1c357a">
      <ion-label style="color: #1c357a"><div class="fadeIn">Language</div></ion-label>
      <ion-select style="color: #1c357a" [(ngModel)] ="searchTerm2" (ionChange)="setStars(); setFilteredItems(); createSort()" placeholder="Select a Language (Optional)">
        <ion-select-option value="any">Any</ion-select-option>
        <ion-select-option value="arabic">Arabic</ion-select-option>
        <ion-select-option value="chinese">Chinese</ion-select-option>
        <ion-select-option value="english">English</ion-select-option>
        <ion-select-option value="french">French</ion-select-option>
        <ion-select-option value="german">German</ion-select-option>
        <ion-select-option value="greek">Greek</ion-select-option>
        <ion-select-option value="hebrew">Hebrew</ion-select-option>
        <ion-select-option value="italian">Italian</ion-select-option>
        <ion-select-option value="japanese">Japanese</ion-select-option>
        <ion-select-option value="latin">Latin</ion-select-option>
        <ion-select-option value="portugese">Portugese</ion-select-option>
        <ion-select-option value="russian">Russian</ion-select-option>
        <ion-select-option value="spanish">Spanish</ion-select-option>
        <ion-select-option value="other">Other</ion-select-option>
      </ion-select>
    </ion-item>
    </ion-list>

    <ion-list>
    <ion-list-header class="bg-class2" style = "font-family:Bebas Neue; font-size:20px"><div class="fadeIn">Select your preferred country to visit:</div></ion-list-header>
    <ion-item style="color: #1c357a">
      <ion-label style="color: #1c357a"><div class="fadeIn">Country</div></ion-label>
      <ion-select style="color: #1c357a" [(ngModel)] = "searchTerm3" (ionChange)="setStars(); setFilteredItems(); createSort()" placeholder="Select a Country (Optional)">
        <ion-select-option value="Any">Any</ion-select-option>
        <ion-select-option value="Argentina">Argentina</ion-select-option>
        <ion-select-option value="Australia">Australia</ion-select-option>
        <ion-select-option value="Austria">Austria</ion-select-option>
        <ion-select-option value="Belgium">Belgium</ion-select-option>
        <ion-select-option value="Bolivia">Bolivia</ion-select-option>
        <ion-select-option value="Botswana">Botswana</ion-select-option>
        <ion-select-option value="Brazil">Brazil</ion-select-option>
        <ion-select-option value="Cameroon">Cameroon</ion-select-option>
        <ion-select-option value="Chile">Chile</ion-select-option>
        <ion-select-option value="China">China</ion-select-option>
        <ion-select-option value="Costa Rica">Costa Rica</ion-select-option>
        <ion-select-option value="Cuba">Cuba</ion-select-option>
        <ion-select-option value="Czech Republic">Czech Republic</ion-select-option>
        <ion-select-option value="Denmark">Denmark</ion-select-option>
        <ion-select-option value="Dominican Republic">Dominican Republic</ion-select-option>
        <ion-select-option value="Ecuador">Ecuador</ion-select-option>
        <ion-select-option value="Egypt">Egypt</ion-select-option>
        <ion-select-option value="England">England</ion-select-option>
        <ion-select-option value="France">France</ion-select-option>
        <ion-select-option value="Germany">Germany</ion-select-option>
        <ion-select-option value="Ghana">Ghana</ion-select-option>
        <ion-select-option value="Greece">Greece</ion-select-option>
        <ion-select-option value="Hungary">Hungary</ion-select-option>
        <ion-select-option value="India">India</ion-select-option>
        <ion-select-option value="Ireland">Ireland</ion-select-option>
        <ion-select-option value="Israel">Israel</ion-select-option>
        <ion-select-option value="Italy">Italy</ion-select-option>
        <ion-select-option value="Japan">Japan</ion-select-option>
        <ion-select-option value="Jordan">Jordan</ion-select-option>
        <ion-select-option value="Kazakhstan">Kazakhstan</ion-select-option>
        <ion-select-option value="Kenya">Kenya</ion-select-option>
        <ion-select-option value="Madagascar">Madagascar</ion-select-option>
        <ion-select-option value="Mexico">Mexico</ion-select-option>
        <ion-select-option value="Mongolia">Mongolia</ion-select-option>
        <ion-select-option value="Morocco">Morocco</ion-select-option>
        <ion-select-option value="Nepal">Nepal</ion-select-option>
        <ion-select-option value="Netherlands">Netherlands</ion-select-option>
        <ion-select-option value="New Zealand">New Zealand</ion-select-option>
        <ion-select-option value="Northern Ireland">Northern Ireland</ion-select-option>
        <ion-select-option value="Norway">Norway</ion-select-option>
        <ion-select-option value="Peru">Peru</ion-select-option>
        <ion-select-option value="Portugal">Portugal</ion-select-option>
        <ion-select-option value="Russia">Russia</ion-select-option>
        <ion-select-option value="Scotland">Scotland</ion-select-option>
        <ion-select-option value="Senegal">Senegal</ion-select-option>
        <ion-select-option value="Serbia">Serbia</ion-select-option>
        <ion-select-option value="Singapore">Singapore</ion-select-option>
        <ion-select-option value="South Africa">South Africa</ion-select-option>
        <ion-select-option value="Spain">Spain</ion-select-option>
        <ion-select-option value="Sweden">Sweden</ion-select-option>
        <ion-select-option value="Thailand">Thailand</ion-select-option>
        <ion-select-option value="United States">United States</ion-select-option>
      </ion-select>
  </ion-item>
  </ion-list>

  <div class="center">
    <ion-button (click)="goToRecommendation()">
        <div class="fadeIn">
          Search <ion-icon name = "search"></ion-icon>
        </div>
    </ion-button>

  </div>
