  <ion-header style="color: #1c357a">
      <ion-toolbar class="bg-class">
        <ion-row>
        <ion-col size="auto">
            <ion-button class="save" expand="full" shape="round" (click)="goBack()">
              <ion-icon ios="ios-arrow-round-back" md="md-arrow-round-back" size="large"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col>
        <ion-title class="titleicon" style = "font-size:25px; text-align: center; display:inline-block">
          <div class="logo">
          <div class="fadeIn">
              Saved Programs
          </div>
          </div>
        </ion-title>
        </ion-col>
        </ion-row>

      </ion-toolbar>
    </ion-header>

  <ion-content>
    <ion-item-sliding *ngFor="let item of savedItems; let i = index">
      <ion-item-options side="end">
        <ion-item-option (click)="removeItem2(i)" color="danger" expandable >
          <ion-icon ios="ios-trash" md="md-trash" size="large"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item>

        <ion-card>
          <ion-card-header>

            <ion-card-subtitle style="font-size:15px">PROGRAM</ion-card-subtitle>

            <ion-row>
              <ion-col size="10">
                <ion-card-title style="font-size:25px">{{item.GroupName}}{{item.Program}}</ion-card-title>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-card-title><div style="font-size:20px">{{ item.Value}} / 3</div> <div style="font-size:16px">match</div></ion-card-title>
              </ion-col>
            </ion-row>
          </ion-card-header>

          <img src="/assets/icon/{{item.img}}" alt="img" width="100" height="200">

          <ion-card-content>

            <ion-row>
              <ion-col size="8">
                <b>Language: </b>
              </ion-col>
              <ion-col size="9">
                {{ item.Language}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="8">
                <b>Recommended By: </b>
              </ion-col>
              <ion-col size="9">
                {{ item.Recommended}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="8">
                <b>Location: </b>
              </ion-col>
              <ion-col size="9">
                {{ item.Location}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="8">
                <b>Housing: </b>
              </ion-col>
              <ion-col size="9">
                {{ item.Housing}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="8">
                <b>Minimum GPA: </b>
              </ion-col>
              <ion-col size="9">
                {{ item.MinimumGPARequirement}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="8">
                <b>Academic Features: </b>
              </ion-col>
              <ion-col size="9">
                {{ item.AcademicFeatures}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="8">
                <b>Summary: </b>
              </ion-col>
              <ion-col size="9">
                {{ item.Summary}}
              </ion-col>
            </ion-row>

          </ion-card-content>


        </ion-card>
      </ion-item>
    </ion-item-sliding>
  </ion-content>
