<ion-header>
  <ion-toolbar color="primary">
    <ion-row>
        <ion-button (click)="goBack()" >
            <ion-icon name="arrow-round-back"></ion-icon>
          </ion-button>

      <ion-title>My Saved Programs</ion-title>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-button (click) = "goForum()"> <ion-icon name='ios-contacts'></ion-icon> <label>Go to Forums</label> </ion-button>
<ion-content>

  <ion-item-sliding [(ngModel)] = "searchTerm4" *ngFor="let item of savedItems; let i = index">
    <ion-item-options side="end">
      <ion-item-option (click)="removeItem(i)" color="danger" expandable >
        Delete
      </ion-item-option>
    </ion-item-options>

    <ion-item>
      Program: {{ item.Program }} <br>
      Language: {{ item.Language }} <br>
      Recommended By: {{ item.Recommended }} <br>
      Location: {{ item.LocationName}} <br>
      Housing: {{ item.Housing}} <br>
      Minimum GPA Requirement: {{ item.MinimumGPARequirement}} <br>
      Academic Features: {{ item.AcademicFeatures}} <br>
  
    </ion-item>
  </ion-item-sliding>

</ion-content>
