<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title style = "font-family:Bebas Neue; font-size:25px; text-align: center">
        <div class="pad"><div class="fadeIn">Saved Programs</div></div>
    </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-menu side="start" menuId="first">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title></ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item class = "button" (click)="goToHome()">Home<ion-icon ios="ios-star" md="md-star"></ion-icon></ion-item>
        <ion-item class = "button"(click)="goToProgramSearch()">Program Search <ion-icon ios="ios-search" md="md-search"></ion-icon></ion-item>
        <ion-item class = "button" (click)="goToTimeline()">Timeline <ion-icon ios="ios-clock" md="md-clock"></ion-icon></ion-item>
        <ion-item class = "button"(click)="goToStudentReviews()">Student Reviews <ion-icon ios="ios-create" md="md-create"></ion-icon></ion-item>
        <ion-item class = "button"(click)="goToLogout()">Logout<ion-icon ios="ios-contact" md="md-contact"></ion-icon></ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

<ion-router-outlet main></ion-router-outlet>

  <!-- <ion-button (click) = "goForum()"> <ion-icon name='ios-contacts'></ion-icon> <label>Go to Forums</label> </ion-button> -->

  <ion-content>
    <ion-item-sliding *ngFor="let item of savedItems; let i = index">
      <ion-item-options side="end">
        <ion-item-option (click)="removeItem2(i)" color="danger" expandable >
          <ion-icon ios="ios-trash" md="md-trash" size="large"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item>

        <!-- Program: {{item.program.programName}} <br>
        Language: {{ item.program.language }} <br>
        Recommended By: {{ item.program.areaName}} <br>
        Location: {{ item.program.locationName}} <br>
        Housing: {{ item.program.housing}} <br>
        Minimum GPA Requirement: {{ item.program.GPA}} <br>
        Academic Features: {{ item.program.academicFeatures}} <br> -->

        <ion-card>
          <ion-card-header>

            <ion-card-subtitle style="font-size:15px">PROGRAM</ion-card-subtitle>
             <!-- <ion-button float-right (click) = "removeItem2(i)"> <ion-icon name = "close-circle"></ion-icon>
              </ion-button> -->
            <ion-row>
              <ion-col size="10">
                <ion-card-title style="font-size:25px">{{item.GroupName}}{{item.Program}}</ion-card-title>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-card-title><div style="font-size:20px">{{ item.Value}} / 3</div> <div style="font-size:16px">match</div></ion-card-title>
              </ion-col>
            </ion-row>
          </ion-card-header>

          <img src="/assets/icon/{{item.img}}" alt="img" width="100" height="200">

          <ion-card-content>



            <ion-row>
              <ion-col size="8">
                <b>Language: </b>
              </ion-col>
              <ion-col size="9">
                {{ item.Language}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="8">
                <b>Recommended By: </b>
              </ion-col>
              <ion-col size="9">
                {{ item.Recommended}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="8">
                <b>Location: </b>
              </ion-col>
              <ion-col size="9">
                {{ item.Location}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="8">
                <b>Housing: </b>
              </ion-col>
              <ion-col size="9">
                {{ item.Housing}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="8">
                <b>Minimum GPA: </b>
              </ion-col>
              <ion-col size="9">
                {{ item.MinimumGPARequirement}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="8">
                <b>Academic Features: </b>
              </ion-col>
              <ion-col size="9">
                {{ item.AcademicFeatures}}
              </ion-col>
            </ion-row>

          </ion-card-content>


        </ion-card>
      </ion-item>
    </ion-item-sliding>
  </ion-content>
