.button:hover{
  --background: rgba(181, 188, 249, 0.50);
}


.bg-class{
  --background: linear-gradient(197deg, rgb(40, 138, 230) 0%, rgb(33, 105, 172) 13.5%, rgb(53, 113, 170) 33.33%, rgb(3, 34, 59) 100%) !important;
}

.titleicon{
  padding-top: 15px;
}

.save{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transform: scale(0.68);
  border:2px solid #cfdcec;
  overflow:hidden;
  box-shadow: 0 0 3px gray;
  --background-hover: rgba(181, 188, 249, 0.20);

}


.logo{
  padding-top: 10px;
}
