.error-message
{
  color: var(--ion-color-danger);
}

.success-message
{
  color: var(--ion-color-success);
}

.go-to-login
{
  text-align: center;
  margin-top: 20px;
}

.submit-btn
{
  margin-top: 40px;
}

ion-input{
  border-radius: 10px !important;
  padding-right: 30px;
  font-size: 0.9em;
  border: 1px solid #f1f1f1 !important;
  --background: rgb(219,219,219) !important;
  /* height: 10%; */
  /* width: 41%; */
  max-width: 50vw; // this is applying perfectly
  max-height: 10vh;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@keyframes fadeIn {
from {
  opacity: 0;
}

to {
  opacity: 1;
}
}

.fadeIn {
animation-name: fadeIn;
animation-duration: 4s;
}


.bg-class{
  --background: linear-gradient(197deg, rgb(40, 138, 230) 0%, rgb(33, 105, 172) 13.5%, rgb(53, 113, 170) 33.33%, rgb(3, 34, 59) 100%) !important;
}

.bg-class2{
  --background: linear-gradient(197deg, rgb(8, 133, 250) 0%, rgb(3, 117, 211) 13.5%, rgb(36, 115, 189) 33.33%, rgb(33, 97, 156) 100%) !important;
}

.pad{
  padding-top: 12px;
}

